*{
    margin: 0;
    padding: 0;
}

body{
    background-color:aliceblue;
}

main{
    
    margin: 10vw;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: white;
    border: inset 2px rgba(2, 5, 15, 0.1);
   
}

/*Alinnhando imagens*/
img{
    margin-top: 25px;
    margin-bottom:25px ;
    border: solid 2px blue;
    
}

.imagemcontraz1{
    margin-left:11vw ;
    margin-right:5vw;
}

.imagemcontraz2{
    margin-left:22vw ;
    margin-right:25vw;
}
.imagemcontraz3{
    margin-left:12vw ;
    margin-right:10vw;
}

/*Alinnhando textos*/

h1{
    text-align: center;
    margin-bottom: 50px;
}

.Subtitulo{
    text-align: center;
    margin: 20px;
}

.divisao{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}